.cuerpo {
    width: 100vw;
    height: 100vh;
    background-color: #e3f4fc;
}

.derecha {

    color: #e3f4fc;
}

.fondo {
    background-color: #13303e;
    color: #e3f4fc;
}

.custom-button {
    background-color: #d9d94a;
    border: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
}

.custom-button:hover {
    background-color: #f2cf23;
}

@media (min-width: 768px) {
    .card_container {
        width: 50vw !important;
        height: 60% !important;
    }

    .tamaño {
        width: 50% !important;
    }

    .card_result {
        border-bottom-left-radius: 50px;
    }

    .custom-button {
        width: 70% !important;
    }
}