.cuerpo {
    width: 100vw;
    height: 100vh;
    color: #0f2431;
    background-color: #e3f4fc;
}

.dato, .radio_btn{
    width: 100%;
    height: 40px;
    border: solid 1px #b9ccd2;
    padding-inline: .25rem;
    border-radius: .5rem;
    accent-color: #d9d94a;

}

.dato:focus-within,
.radio_btn:focus-within
{
    border: solid 2px #d9d94a;
    background-color: #fafae1;
    
}

.dato {
    background-color: #e3f4fc;
    justify-content: space-between;
}

.borde{
    /* width: 50%; */
    border: none;
    outline: none;
}

.ancho{
    display: flex;
    width: 40%;
    background-color: #e3f4fc;
    align-items: center;
    justify-content: center;
}

.derecha {

    color: #e3f4fc;
}

.fondo {
    background-color: #13303e;
    color: #e3f4fc;
}

.custom-button {
    background-color: #d9d94a;
    border: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
}

.custom-button:hover {
    background-color: #f2cf23;
}

.color_text{
    color: #b9ccd2;
}

.result{
    background-color: #0f2431;
    box-shadow: 0 -5px #d9d94a;
}

#mensualidad{
    color: #d9d94a;
    
}

.hidden{
    display: none;
}
@media (min-width: 768px) {
    .card_container {
        width: 1000px !important;
        height: 550px !important;
    }

    .tamaño {
        width: 50% !important;
    }

    .card_result {
        border-bottom-left-radius: 50px;
    }

    .custom-button {
        width: 70% !important;
    }
}